<h1>Count some words!</h1>

<% form_for(@webpage) do |f| %>
  <%= f.error_messages %>
  <p> Enter a webpage URL to count the most-used words. </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Count' %>
  </p>
<% end %>

<%= link_to 'History', webpages_path %>
